<html lang="en">
<% include ../partials/header %>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header col-xs-12">
                    <a class="navbar-brand logo" href="/">
                        <span>Appointment Scheduler</span>
                    </a>
                    <button onclick="location.href = '/logout';" type="button" class="btn btn-default pull-right navbar-btn">Sign Out</button>
                </div>

            </div>

        </nav>


        <div class="container">
            <form action="/" method="post">
                Book your appointment:
                <select name="schedulewith">
                        <% for (var i = 0; i < users.length; i++) { %> 
                        <option value="<%= users[i] %>"><%= users[i] %></option>
                        <% } %>

            </select>
                <input type="datetime-local" name="calendar">
                <input type="text" id="note" name="note" placeholder="ShortNote">
                <input type="submit">
            </form>
            <h3>My Appointments</h3>
            <% for (let i = 0; i < schedules.length; i++) { %>
                <span> <b> 
                        <%= schedules[i].time %>
                    </b>
                       
                    </span>

                <span>[<%= schedules[i].scheduled_with %>]</span>
                <span>
                            <%= schedules[i].short_note %>
                        </span>
                <br>
                <% } %>
        </div>
        <% include ../partials/footer %>
            <% include ../partials/scripts %>
    </body>

</html>